<!DOCTYPE html>
<html lang=pt-br>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- BLIBLIOTECA DE ICONES E GERAÇÃO DE COMPROVANTE  --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
    <link rel="shortcut icon" href="/public/css,js/img/logo-fs-png.png" type="image/x-icon">
    {{!-- PARTE DO ARUQIVO CSS  --}}
    <link rel="stylesheet" href="/public/css,js/assets/balconista.css">

    <title>PARTE ADMINISTRATIVA</title>
</head>

<body>
    <!-- PARTE DO CONTAINER GERAL -->
    <div class="container-list">
        <nav id="sidebar" class="open-sidebar">
            <div id="sidebar_content">
                <div id="user">
                    <img src="/public/css,js/img/IMG-Instrutor.png" id="user_avatar" alt="Avatar">

                    <p id="user_infos">
                        <span class="item-description">
                            Administrativo
                        </span>
                        <span class="item-description">
                            Bom trabalho!
                        </span>
                    </p>
                </div>

                <ul id="side_items">
                    <li class="side-item active" id="Dashboard">
                        <a href="#">
                            <i class="bi bi-columns-gap icones"></i>
                            <span class="item-description">
                                Controle
                            </span>
                        </a>
                    </li>

                    <li class="side-item" id="Adicionar">
                        <a href="#">
                            <i class="bi bi-plus-circle-fill icones"></i>
                            <span class="item-description">
                                Cadastrar Pratos
                            </span>
                        </a>
                    </li>

                    <li class="side-item" id="Remover">
                        <a href="#">
                            <i class="bi bi-x-circle-fill icones"></i>
                            <span class="item-description">
                                Remover Itens
                            </span>
                        </a>
                    </li>

                    <li class="side-item" id="Avaliacao">
                        <a href="#">
                            <i class="bi bi-star-fill icones"></i>
                            <span class="item-description">
                                Avaliações
                            </span>
                        </a>
                    </li>
                </ul>
                <button id="open_btn">
                    <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
                </button>
            </div>

            <div id="logout">
                <button id="logout_btn">
                    <i class="bi bi-box-arrow-right icones"></i>
                    <span class="item-description">
                        Sair
                    </span>
                </button>
            </div>
        </nav>
    </div>
    <!-- PARTE DO CONTAINER LISTA DE PRATOS -->
    <div class="container-pratos-list">
        <div class="radio-inputs">
            <label class="radio a">
                <input type="radio" id="a" name="radio" class="radio-button" checked>
                <span class="name">Pendentes</span>
            </label>
            <label class="radio b">
                <input type="radio" name="radio" class="radio-button">
                <span class="name">Em-processo</span>
            </label>
            <label class="radio c">
                <input type="radio" name="radio" class="radio-button">
                <span class="name">Completos</span>
            </label>
        </div>
        <!-- PARTE DE FILTRAGEM DAS MESAS  -->
        <div class="filtragem-mesas">
            <!-- Ícone que vai abrir o select -->
            <div class="icone-mesas">
                <button id="toggleSelectBtn" class="botao-mesa">
                    <i class="bi bi-sliders2-vertical"></i>
                </button>

                <!-- O Select que será mostrado ao clicar no botão -->
                <select id="mesaSelect" style="display:none;">
                    <option value="M0">Todas as Mesas</option>
                    <option value="M1">Mesa 1</option>
                    <option value="M2">Mesa 2</option>
                    <option value="M3">Mesa 3</option>
                    <option value="M4">Mesa 4</option>
                    <option value="M5">Mesa 5</option>
                </select>
            </div>
        </div>

        <!-- PARTE DO COMPROVANTE  -->
       <div class="receipt" id="comprovante">
    <div class="logo">
        <img src="/public/css,js/img/fast-service.png" class="img" alt="Logo Fast Service">
    </div>

    <div class="order-info">
        <h3>Comprovante de Pedido</h3>

        <div class="table-number">
            Mesa: <span id="numeroMesa">12</span>
        </div>

        <div class="payment-method">
            Método de pagamento: <span id="metodoPagamento">Cartão de Crédito</span>
        </div>

        <div class="order-item order-item-header">
            <span>Nome do Pedido</span>
            <span>Quantidade</span>
            <span>Preço</span>
        </div>

        <!-- Itens serão inseridos aqui -->
    </div>

    <div class="order-total">
        <span>Total</span>
        <span>R$ 00,00</span>
    </div>

    <div class="footer-text">
        Obrigado pela preferência!
    </div>
</div>


        <!-- PARTE DO CARRINHO -->
        <div class="container-carrinho" id="comprovanteArea">
            <div class="icone-fechar">
                <i class="bi bi-x thick-x-icon"></i>
            </div>
            <h1 class="h1-parte-carrinho">Comprovante</h1>
            <label for="mesa" class="label-mesa">Mesa: <strong class="numero-mesa-comprovante">MX</strong> </label>
            <label for="metodo-pagamento" class="metodo-pagamento">Tipo de pagamento: <strong class="tipo-de-pagamento-comprovante">metodo</strong>
            </label>
            <div class="pedidos-carrinho">
            </div>
            <div class="cart-summary">
                <p>Sub Total <span class="preçototall">R$00,0</span></p>
                <p>Desconto <span>-R$00,0</span></p>
                <p class="total">Valor Total <span class="totaltudo">R$00,0</span></p>
            </div>
            <button class="btn-carrinho gerar" id="gerarComprovante">Gerar Comprovante</button>
        </div>

        <div class="div-pedidos">
            <div class="banner-dashboar">
                <img src="/public/css,js/img/banner-dasckboard.png" class="img-banner" alt="">
            </div>
            <div class="container" id="pendentes">
            </div>
            <div class="div-pedidos2">
                <div class="container" id="processo">
                </div>
            </div>
            <div class="div-pedidos3">
                <div class="container" id="completos">
                </div>
            </div>
            <div class="scrollbar">
                <div class="scrollbar-thumb"></div>
            </div>
            </section>
        </div>
    </div>
    </div>
    <!-- PARTE DE ADICIONAR PRATOS  -->
    <div class="container-adicionar-pratos">
        <div class="container-main">
            <h1 class="texto-main">Cadastrar Pratos</h1>
            <form action="cadastrar-prato" class="form" method="post" enctype="multipart/form-data">
                <!-- Nome do Prato -->
                <label for="nome-prato" class="nome-prato">Nome do Prato:</label>
                <input type="text" id="nome-prato" name="nome" required>

                <!-- Categoria -->
                <label for="categoria" class="categoria">Categoria:</label>
                <select id="categoria" name="categoria" required>
                    <option value="doces">    Doces    </option>
                    <option value="principal">Principal</option>
                    <option value="bebidas">  Bebidas  </option>
                    <option value="promoçoes">Promoções</option>
                    <option value="favorito"> Favorito </option>
                </select>

                <!-- Preço -->
                <label for="preco" class="preco">Preço:</label>
                <input type="number" id="preco" name="preco" step="0.01" min="0" required>

                <!-- Foto -->
                <label for="foto" class="foto">Foto do Prato:</label>
                <input type="file" id="foto" name="foto" accept="image/*" required>

                <!-- Botão de Envio -->
                <button type="submit">Cadastrar Prato</button>
            </form>
        </div>
    </div>

    <!-- PARTE DE REMOVER PRODUTOS -->
    <div class="container-remover-pratos">
        <div class="container-pratos">
            <h1 class="h1-main">Pratos Cadastrados</h1>
            <div class="pratos-list"></div>
        </div>
    </div>
    <!-- PARTE DA CONTAINER AVALICAO  -->
    <div class="container-avaliacao">
        <h1 class="h1-parte-avaliacao">
            <div class="texto-h1-parte-avalicao">
                Avaliação
            </div>
        </h1>
        <span class="span-avaliacao">dos Clientes</span>
        <div class="filtro-avaliacao">
            <div class="icone-filtro">
                <i class="bi bi-sliders2-vertical"></i>
            </div>
            <div class="select-star" style="display: none;">
                <select id="filtro-estrelas">
                    <option value="0">Todas as Avaliação</option>
                    <option value="5">5 Estrelas</option>
                    <option value="4">4 Estrelas</option>
                    <option value="3">3 Estrelas</option>
                    <option value="2">2 Estrelas</option>
                    <option value="1">1 Estrela</option>
                </select>
            </div>
        </div>
        <div class="div-avaliacoes"></div>
    </div>

    <script src="/public/css,js/js/sidebar.js"></script>
    <script src="/public/css,js/js/carrinholateral.js"></script>
    <script src="/public/css,js/js/FiltrarMesas.js"></script>
    <script src="/public/css,js/js/NavActive.js"></script>
    <script src="/public/css,js/js/FiltrarPedidos.js"></script>
    <script src="/public/css,js/js/FiltrarEstrelas.js"></script>
    <script src="/public/css,js/js/controleAvaliacoes.js"></script>
    <script src="/public/css,js/js/criarEstruturaPedidos.js"></script>
    <script src="/public/css,js/js/navigation.js"></script>
    <script src="/public/css,js/js/SairSistema.js"></script>
    <script src="/public/css,js/js/pratoscadastrados.js"></script>
    <script src="/public/css,js/js/balconsita.js"></script>
    <script src="/public/css,js/js/mostrarInputs.js"></script>
    <script src="/public/css,js/js/scroll-bar.js"></script>
    <script src="/public/css,js/js/Comprovante.js"></script>
    <script src="/public/css,js/js/ControllNav.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
</body>

</html>