<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAST-SERVICE</title>
  <!-- LINK DO ARQUIVO CSS -->
  <link rel="stylesheet" href="/public/css,js/assets/fast-service.css">
  <!-- LOGO COMO ICONE -->
  <link rel="shortcut icon" href="/public/css,js/img/logo-fs-png.png" type="image/x-icon">
  <!-- FAV ICON -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- FONTWASOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- BLIBLIOTECA CARROSEL -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>
<body>

  <!--=================================================================================== CARREGAMENTO  DO SISTEMA ===========================================================================-->
  <div id="loading-screen">
    <h1>Bem-vindo ao <span> Sistema!</span></h1>
    <div class="loader"></div>
    <p>Carregando...</p>
</div>
<div id="main-content">


  <!--====================================================================================NAV BAR ============================================================================================-->
  <header id="header">
    <div class="flex">
      <a href="#"><img src="/public/css,js/img/logo-fs-reta.png" class="Logo"></a>
      <nav>
        <ul>
          <li><a href="#parte-inicial">Início</a></li>
          <li><a href="#funcionalidades">Funcionalidades</a></li>
          <li><a href="#avaliacoes">Avaliações</a></li>
          <li><a href="#sobre-nos">Desenvolvedores</a></li>
      </nav>
    </div>
  </header>


  <!--=================================================================================== SEÇÃO PRINCIPAL==================================================================================== -->
  <section class="secao-principal" id="parte-inicial">
    <div class="background-fundo">
      <img src="/public/css,js/img/Backgound-LD.png" class="imagem-fundo" alt="Background">
    </div>
    <div class="img-ficticio">
     <img src="/public/css,js/img/Personagem-Ficticios1.png" class="imagem-ficticio" alt="">
    </div>
    <div class="textos-principais">
      <p class="insta-fast">@fast.servicee</p>
      <h1 class="h1-principal">Seu Atendimento <br>Otimizado e Simplificado</h1>
      <p class="texto-informativo">Conduza e tenha na palma da mão o atendimento <br> do seu estabelecimento com apenas um clique!<p>
    </div>

    <div class="div-seta">
    <div class="seta"><i></i><a href="#funcionalidades">></a></div>
    <button class="btn-login"><a href="/views/login.html" target="_blank" class="a-logar">FAZER LOGIN</a></button>
  </div>
  </section>


  <!--====================================================================================SEÇÃO FUNCIONALIDADES ============================================================================= -->
  <section class="funcionalidades" id="funcionalidades">
    <img src="/public/css,js/img/Background-Funcionalidades.png" class="img-funcionalidades" alt="">
    <div class="div-cards-funcionalidades">
    <div class="card-funcionalidade-1">
      <div class="icone-parte-funcionalidade">
        <i class="fas fa-qrcode"></i>
      </div>
      <h1 class="h1-parte-funcionalidades">Sistema via Qr-code</h1>
      <p class="p-parte-da-funcionalidades">
        Nosso sistema de restaurante via QR code permite que os clientes escaneiem o código, acessem o cardápio digital e façam pedidos pelo celular,<br> sem precisar de um garçom.
      </p>
    </div>
    <div class="card-funcionalidade-2">
      <div class="icone-parte-funcionalidade">
        <i class="fas fa-utensils"></i>
      </div>
      <h1 class="h1-parte-funcionalidades">Pedidos Personalizados</h1>
      <p class="p-parte-da-funcionalidades">
       A plataforma permite que os clientes personalizem seus pedidos, garantindo ter uma boa qualidade de atendimento e serviço, e podendo adicionar e retirar pedidos a hora que desejar.
      </p>
    </div>
    <div class="card-funcionalidade-3">
      <div class="icone-parte-funcionalidade">
        <i class="fas fa-credit-card"></i>
      </div>
      <h1 class="h1-parte-funcionalidades">Pagamento simplificado</h1>
      <p class="p-parte-da-funcionalidades">
        Após fazer o pedido, o cliente pode pagar diretamente pelo celular de forma rápidda e segura, utilizando diversas opções de pagamento, o que facilita o processo e agiliza a rotação.
      </p>
    </div>
  </div>
  </section>


  <!--=====================================================================================SEÇÃO DE AVALIAÇÕES DOS CLIENTES ================================================================== -->
    <section class="avaliacoes" id="avaliacoes">
      <div class="parte-textos-principais">
        <h1 class="titulo-principal">
          Sistema com <br> <strong class="destaque-parte-avaliacao">avaliação</strong> dos clientes
        </h1>
      </div>
      <br>
      <div class="div-imagem-do-chefe">
        <img src="/public/css,js/img/Chef-img.png" class="imagem-chefe" alt="Imagem do chefe">
      </div>
      <div class="avaliacoes-cards">


       <!-- CARDS AVALIAÇÕES -->

        <div class="avaliacao-card">
          <div class="avaliacao-conteudo">
            <img src="/public/css,js/img/estrelas.png" alt="Avaliações em estrela" class="avaliacao-estrelas">
            <img src="/public/css,js/img/icone-sem-foto.png" alt="perfil" class="avaliacao-perfil">
            <h3 class="avaliacao-nome">Marta Maria</h3>
            <div class="avaliacao-comentario">
              <p class="comentario-texto">"Ótimo lugar para comer, além de oferecer um ótimo serviço o atendimento também é ótimo. Daria até mais estrelas do que cinco <br> se pudesse."</p>
            </div>
          </div>
        </div>
        <div class="avaliacao-card">
          <div class="avaliacao-conteudo">
            <img src="/public/css,js/img/estrelas.png" alt="Avaliações em estrela" class="avaliacao-estrelas">
            <img src="/public/css,js/img/icone-sem-foto.png" alt="perfil" class="avaliacao-perfil">
            <h3 class="avaliacao-nome">Marcos Vinícius</h3>
            <div class="avaliacao-comentario">
              <p class="comentario-texto">"Excelente local para refeições, além de proporcionar um serviço de qualidade, o atendimento é impecável. Dar mais estrelas do que cinco seria possível."</p>
            </div>
          </div>
        </div>
        <div class="avaliacao-card">
          <div class="avaliacao-conteudo">
            <img src="/public/css,js/img/estrelas.png" alt="Avaliações em estrela" class="avaliacao-estrelas">
            <img src="/public/css,js/img/icone-sem-foto.png" alt="perfil" class="avaliacao-perfil">
            <h3 class="avaliacao-nome">Lucas Emanuel</h3>
            <div class="avaliacao-comentario">
              <p class="comentario-texto">"Lugar incrível para comer, além de apresentar um bom serviço, o atendimento é bem legal. Daria até mais estrelas do que cinco, se fosse viável."</p>
            </div>
          </div>
        </div>
      </div>
    </section>


  <!--=====================================================================================SEÇÃO SOBRE O TIME DE DESENVOLVEDORES============================================================== -->
  <section class="sobre-nos" id="sobre-nos">
    <div class="titulos-parte-dev">
    <h1 class="titulo-time" id="introducao-time"><strong class="destaque-parte-dev"><br>Sobre a Fast-Service</strong><br><span class="destaque-parte-dev2">Confiança e</span><br>Credibilidade.</h1>
    <br>
    <p class="descricao-time">
      Apresentamos nossa equipe de desenvolvedores.<br> Juntos
      estamos comprometidos em entregar um <br> sistema robusto e eficiente. Que atenda ás <br> necessidades 
      de nossos usuários supere <br> suas expectativas.
    </p>
  </div>
  <div id="container-cards-dev">
    <div id="container-cards-dev">   
      <div id="slider">
          <div id="slider-track">
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Vit-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Felipe-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Janderson-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Maxwell-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Lislayne-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Marisa-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Nadyson-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Vit-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Felipe-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Janderson-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Maxwell-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Lislayne-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Marisa-Card.png" alt=""></span></div>
              <div class="slide"><span><img class="imagem-dos-integrantes" src="/public/css,js/imgs-integrantes/Nadyson-Card.png" alt=""></span></div>
          </div>
      </div>
  </div
  </div>  
  </div>
  </section>


  <!--=====================================================================================PARTE DO FOOTER=================================================================================== -->
  <footer class="footer">
    <div>
      <p class="paragrafo-footer">Fast-Service &copy; 2024. Todos os direitos reservados.</p>
    </div>
  </footer>
</div>


  <!--=====================================================================================ARQUIVOS JAVASCRIPTS=============================================================================== -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/public/css,js/js/fast-service.js"></script>
<script src="/public/css,js/js/nav-bar.js"></script>
</body>
</html>