<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAST-SERVICE</title>
    <!-- LINK DA BIBLIOTECA USADA NO CARROSEL -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- ARQUIVO CSS -->
    <link rel="stylesheet" href="/public/css,js/assets/menu.css">
    <!-- ICONE DO LOGO -->
    <link rel="shortcut icon" href="/public/css,js/img/logo-fs-png.png" type="image/x-icon">
    <!-- PARTE DO FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- PARTE DO BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
    <div id="alerta" class="alerta">
    <div id="alerta-msg"></div>
    <button onclick="fecharAlerta()">Fechar</button>
</div>
    

    <!--========================================== PARTE DE QUE O PEDIDO FOI BEM SUCEDIDO ========================================-->
    <div class="success">
        <div class="div">
            <div class="success-prompt-heading">Pedido Realizado com sucesso!</div>
            </div>
            <h3 class="h3-parte-ava">Como você avalia nosso sistema online?</h3>
            <form action="avaliacao" method="post">
                <div class="nomes">
                    <input type="text" class="input-nomes" name="nome" placeholder="Nome" required>
                    <input type="text" class="input-nomes" name="sobrenome" placeholder="Sobrenome" required>
                </div>
                <textarea name="avaliacao" placeholder="Digite sua avaliação sobre o sistema.." maxlength="140" required></textarea>
            <div class="input-icons">
                <input type="radio" id="star1" name="estrelas" value="1" required>
                <label for="star1" data-value="1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M5.48279 0.313927L6.61067 2.70364C6.6891 2.86984 6.84075 2.98501 7.01618 3.01162L9.5383 3.39485C9.9801 3.46203 10.1564 4.02958 9.8368 4.35523L8.0118 6.21535C7.88497 6.34469 7.82698 6.53118 7.85702 6.71375L8.28777 9.34033C8.36328 9.80035 7.90145 10.1511 7.50637 9.93405L5.25063 8.69405C5.09376 8.60789 4.90624 8.60789 4.74937 8.69405L2.49363 9.93405C2.09855 10.1513 1.63672 9.80035 1.71223 9.34033L2.14298 6.71375C2.17302 6.53118 2.11503 6.34469 1.9882 6.21535L0.163203 4.35523C-0.156365 4.02936 0.019898 3.46182 0.461702 3.39485L2.98382 3.01162C3.15925 2.98501 3.3109 2.86984 3.38933 2.70364L4.51721 0.313927C4.71454 -0.104642 5.28525 -0.104642 5.48279 0.313927Z"/>
                    </svg>
                </label>
            
                <input type="radio" id="star2" name="estrelas" value="2" required>
                <label for="star2" data-value="2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M5.48279 0.313927L6.61067 2.70364C6.6891 2.86984 6.84075 2.98501 7.01618 3.01162L9.5383 3.39485C9.9801 3.46203 10.1564 4.02958 9.8368 4.35523L8.0118 6.21535C7.88497 6.34469 7.82698 6.53118 7.85702 6.71375L8.28777 9.34033C8.36328 9.80035 7.90145 10.1511 7.50637 9.93405L5.25063 8.69405C5.09376 8.60789 4.90624 8.60789 4.74937 8.69405L2.49363 9.93405C2.09855 10.1513 1.63672 9.80035 1.71223 9.34033L2.14298 6.71375C2.17302 6.53118 2.11503 6.34469 1.9882 6.21535L0.163203 4.35523C-0.156365 4.02936 0.019898 3.46182 0.461702 3.39485L2.98382 3.01162C3.15925 2.98501 3.3109 2.86984 3.38933 2.70364L4.51721 0.313927C4.71454 -0.104642 5.28525 -0.104642 5.48279 0.313927Z"/>
                    </svg>
                </label>
            
                <input type="radio" id="star3" name="estrelas" value="3" required>
                <label for="star3" data-value="3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M5.48279 0.313927L6.61067 2.70364C6.6891 2.86984 6.84075 2.98501 7.01618 3.01162L9.5383 3.39485C9.9801 3.46203 10.1564 4.02958 9.8368 4.35523L8.0118 6.21535C7.88497 6.34469 7.82698 6.53118 7.85702 6.71375L8.28777 9.34033C8.36328 9.80035 7.90145 10.1511 7.50637 9.93405L5.25063 8.69405C5.09376 8.60789 4.90624 8.60789 4.74937 8.69405L2.49363 9.93405C2.09855 10.1513 1.63672 9.80035 1.71223 9.34033L2.14298 6.71375C2.17302 6.53118 2.11503 6.34469 1.9882 6.21535L0.163203 4.35523C-0.156365 4.02936 0.019898 3.46182 0.461702 3.39485L2.98382 3.01162C3.15925 2.98501 3.3109 2.86984 3.38933 2.70364L4.51721 0.313927C4.71454 -0.104642 5.28525 -0.104642 5.48279 0.313927Z"/>
                    </svg>
                </label>
            
                <input type="radio" id="star4" name="estrelas" value="4" required>
                <label  for="star4" data-value="4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M5.48279 0.313927L6.61067 2.70364C6.6891 2.86984 6.84075 2.98501 7.01618 3.01162L9.5383 3.39485C9.9801 3.46203 10.1564 4.02958 9.8368 4.35523L8.0118 6.21535C7.88497 6.34469 7.82698 6.53118 7.85702 6.71375L8.28777 9.34033C8.36328 9.80035 7.90145 10.1511 7.50637 9.93405L5.25063 8.69405C5.09376 8.60789 4.90624 8.60789 4.74937 8.69405L2.49363 9.93405C2.09855 10.1513 1.63672 9.80035 1.71223 9.34033L2.14298 6.71375C2.17302 6.53118 2.11503 6.34469 1.9882 6.21535L0.163203 4.35523C-0.156365 4.02936 0.019898 3.46182 0.461702 3.39485L2.98382 3.01162C3.15925 2.98501 3.3109 2.86984 3.38933 2.70364L4.51721 0.313927C4.71454 -0.104642 5.28525 -0.104642 5.48279 0.313927Z"/>
                    </svg>
                </label>
            
                <input type="radio" id="star5" name="estrelas" value="5" required>
                <label for="star5" data-value="5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M5.48279 0.313927L6.61067 2.70364C6.6891 2.86984 6.84075 2.98501 7.01618 3.01162L9.5383 3.39485C9.9801 3.46203 10.1564 4.02958 9.8368 4.35523L8.0118 6.21535C7.88497 6.34469 7.82698 6.53118 7.85702 6.71375L8.28777 9.34033C8.36328 9.80035 7.90145 10.1511 7.50637 9.93405L5.25063 8.69405C5.09376 8.60789 4.90624 8.60789 4.74937 8.69405L2.49363 9.93405C2.09855 10.1513 1.63672 9.80035 1.71223 9.34033L2.14298 6.71375C2.17302 6.53118 2.11503 6.34469 1.9882 6.21535L0.163203 4.35523C-0.156365 4.02936 0.019898 3.46182 0.461702 3.39485L2.98382 3.01162C3.15925 2.98501 3.3109 2.86984 3.38933 2.70364L4.51721 0.313927C4.71454 -0.104642 5.28525 -0.104642 5.48279 0.313927Z"/>
                    </svg>
                </label>
            </div>
            <button class="btn-avaliacao" type="submit">Avaliar</button>
        </form>
            
            <div class="icon">
                <img src="/public/css,js/img/icone-pagamento-orange.png" class="icone-pagamneto-ip" alt="">
            </div>
            <div class="success-button-container">
                <button class="success-button-secondary" id="btn-finishi">
                    <i class="fas fa-times"></i>
                </button>
        </div>
    </div>
    <!--====================================================== PARTE DO CARRINHO  =============================================-->
    <div class="container-carrinho hidden" id="container-carrinho">
        <div class="div-seta-voltar" id="div-seta-voltar">
            <i class="fas fa-arrow-left icone-seta-voltar"></i>
        </div>
        <h1 class="h1-parte-carrinho">Ordem de Pedidos</h1>
        <div class="container-pratos">
            <div id="carrinho" class="carrinho"></div>
        </div>
        <div class="pagamentos">
            <div class="cart-summary">
                <p>Sub Total <span class="preçototall">R$00,0</span></p>
                <p>Desconto <span>-R$00,0</span></p>
                <p class="total">Valor Total <span class="totaltudo">R$00,0</span></p>
            </div>
            <div class="payment-options">
                <div class="container-money">
                    <button class="butao-parte--carrinho" data-pagamento="money"><i
                            class="fas fa-money-bill-wave"></i></button>
                    <div class="money">Money</div>
                </div>
                <div class="container-cartao">
                    <button class="butao-parte--carrinho" data-pagamento="cartao"><i
                            class="fas fa-credit-card"></i></button>
                    <div class="cartao">Cartão</div>
                </div>
                <div class="container-pix">
                    <button class="butao-parte--carrinho" data-pagamento="pix"><i class="fa-brands fa-pix"></i></button>
                    <div class="pix">Pix</div>
                </div>
            </div>

        </div>

        <button class="finalizar" id="btn-finalizar">
            <div class="texto-botao2">FINALIZAR</div>
        </button>
    </div>
    <!--====================================================== PARTE DA CONTA ==============================================-->
    <div class="container-conta">
        <div class="parte-info-main">
            <div class="perfil">
                <img src="/public/css,js/img/IMG-Instrutor.png" class="img-perfil" alt="">
            </div>
            <hr>
            <div class="h4-saudacao">
                <h4 class="h4-parte-conta">Seja Bem-vindo(a)</h4>
            </div>
            <br>
            <div class="beneficio">
                <p class="p-parte-conta">
                    Faça seus pedidos em um clique!!
                </p>
            </div>
        </div>
        <div class="estabe">
            <p class="p-parte-estabe">
                Estabelecimento >
                <span class="span-parte-estabe">Mesa (Teste)</span>
            </p>
        </div>
    </div>
    <!--========================================================= PARTE DAS PROMOÇÕES DIARIAS ==================================-->
    <div class="promocao">
        <a href="#promocao">
            <div class="banner-promocao swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/public/css,js/img/Banner Promoção (2).png" alt="Promoção 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/css,js/img/Banner Promoção (3).png    " alt="Promoção 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/css,js/img/Banner Promoção-01.png" alt="Promoção 3">
                    </div>
                </div>
            </div>
            <div class="parte-navigation">
                <div class="swiper-pagination"></div>
            </div>
        </a>
    </div>
    <div class="input">
        <input type="text" id="input1" class="input1" placeholder="Procure Pelo Prato desejado..." oninput="filterCards()">
        <div class="div-carrinho" id="carrinho">
            <i class="fas fa-shopping-cart icone-carrinho"></i>
        </div>
        <div class="icon-pesquisa">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <!---=================================================================== PARTE DAS CATEGORIAS  ============================================================================================= -->

    <div class="container-categorias">
        <div class="categoria">
            <a href="#" class="active">
                <i class="bi bi-grid"></i>
                <p class="p-parte-categoria">Menu</p>
            </a>
        </div>
        <div class="categoria">
            <a href="#bebidas">
                <i class="fa-solid fa-martini-glass-citrus"></i>
                <p class="p-parte-categoria">Bebidas</p>
            </a>
        </div>
        <div class="categoria">
            <a href="#doces">
                <i class="fa-solid fa-cookie"></i>
                <p class="p-parte-categoria">Doces</p>
            </a>
        </div>
        <div class="categoria">
            <a href="#promocao">
                <i class="bi bi-ticket"></i>
                <p class="p-parte-categoria">Promoção</p>
            </a>
        </div>
        <div class="categoria star">
            <a href="#favoritos">
                <i class="fa-regular fa-star"></i>
                <p class="p-parte-categoria">Favoritos</p>
            </a>
        </div>
    </div>
    <div class="container-menu" id="menu">
        <h1 class="h1-do-menu">Categoria do <span>Menu</span></h1>
        <!-- <button class="btn-adicionar" id="btn" onclick="adicionarCard()">Adicionar</button> -->
        <div class="container-pratos-menu" id="container-pratos-menu">

        </div>
    </div>
    <div class="container-bebidas" id="bebidas">
        <h1 class="h1-da-bebida">Categoria das <span>Bebidas</span></h1>
        <div class="container-parte-bebidas" id="container-pratos-menu">

        </div>
    </div>
    <div class="container-promocoes" id="promocao">
        <h1 class="h1-da-promocao">Categoria de <span>Promoções</span></h1>
        <div class="container-parte-promocao" id="container-pratos-menu">

        </div>
    </div>
    <div class="container-parte-doces" id="doces">
        <h1 class="h1-de-doces">Categoria de <span>Doces</span></h1>
        <div class="container-doces" id="container-pratos-menu">

        </div>
    </div>
    <div class="container-favoritos" id="favoritos">
        <h1 class="h1-de-favorito">Categoria de <span>Favoritos</span></h1>
        <div class="container-parte-favorito" id="container-pratos-menu">

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/public/css,js/js/finalizar-pedidos.js"></script>
    <script src="/public/css,js/js/menu.js"></script>
    <script src="/public/css,js/js/cardcarrinho.js"></script>
    <script src="/public/css,js/js/AdicionarCard.js"></script>
    <script src="/public/css,js/js/carrinho.js"></script>
    <script src="/public/css,js/js/alerta.js"></script>
    <script src="/public/css,js/js/estrelas.js"></script>
    <script src="/public/css,js/js/Pesquisa.js"></script>
    <script src="/public/css,js/js/configsresposiveMobile.js"></script>
    <!-- BLIBLIOTECA SRCOLLREVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- PARTE DO BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>