<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css,js/assets/pratoscadastrados.css">
    <title>Pratos Cadastrados</title>
</head>
<body>
    <div class="container-pratos">
        <h1 class="h1-main">Pratos Cadastrados</h1>
        <hr class="hr-main">
        <div class="pratos-list"></div>
    </div>

    <script src="/public/css,js/js/pratoscadastrados.js"></script>
</body>
</html>
