<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <form action="/add" method="post">
    <h1>Nome do prato</h1>
    <input type="text" name="prato">
    <p>Descriçao</p>
    <textarea name="descriçao"></textarea>
    <button type="submit">cadastar pedido</button>
</form>
</body>
</html>